<app-header></app-header>
<div class="container">
<!--  <div class="intro-section">-->
<!--    <h1>Đây là trang Home</h1>-->
<!--    <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</p>-->
<!--    <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>-->
<!--  </div>-->
  <div class="search-box">
    <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
    <select class="form-control product-category">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Adidas</option>
      <option>Nike</option>
      <option>Puma</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://supersports.com.vn/cdn/shop/files/HT3435-1.jpg?v=1684917838" alt="Product Image" class="product-image">
        <h3 class="product-name">Tất Adidas</h3>
        <p class="product-description">Kết hợp hoàn hảo với các dụng cụ tập luyện khác của bạn, những đôi tất Adidas này có thiết kế mềm mại.</p>
        <p class="product-price">Giá: 350.000đ</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>

        </div>
        <div class="product-action">
          <button class="btn btn-primary"> <i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://supersports.com.vn/cdn/shop/files/HT3435-1.jpg?v=1684917838" alt="Product Image" class="product-image">
        <h3 class="product-name">Tất Adidas</h3>
        <p class="product-description">Kết hợp hoàn hảo với các dụng cụ tập luyện khác của bạn, những đôi tất Adidas này có thiết kế mềm mại.</p>
        <p class="product-price">Giá: 350.000đ</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>

        </div>
        <div class="product-action">
          <button class="btn btn-primary"> <i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://supersports.com.vn/cdn/shop/files/HT3435-1.jpg?v=1684917838" alt="Product Image" class="product-image">
        <h3 class="product-name">Tất Adidas</h3>
        <p class="product-description">Kết hợp hoàn hảo với các dụng cụ tập luyện khác của bạn, những đôi tất Adidas này có thiết kế mềm mại.</p>
        <p class="product-price">Giá: 350.000đ</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>

        </div>
        <div class="product-action">
          <button class="btn btn-primary"> <i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://supersports.com.vn/cdn/shop/files/HT3435-1.jpg?v=1684917838" alt="Product Image" class="product-image">
        <h3 class="product-name">Tất Adidas</h3>
        <p class="product-description">Kết hợp hoàn hảo với các dụng cụ tập luyện khác của bạn, những đôi tất Adidas này có thiết kế mềm mại.</p>
        <p class="product-price">Giá: 350.000đ</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>

        </div>
        <div class="product-action">
          <button class="btn btn-primary"> <i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://supersports.com.vn/cdn/shop/files/HT3435-1.jpg?v=1684917838" alt="Product Image" class="product-image">
        <h3 class="product-name">Tất Adidas</h3>
        <p class="product-description">Kết hợp hoàn hảo với các dụng cụ tập luyện khác của bạn, những đôi tất Adidas này có thiết kế mềm mại.</p>
        <p class="product-price">Giá: 350.000đ</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>

        </div>
        <div class="product-action">
          <button class="btn btn-primary"> <i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://supersports.com.vn/cdn/shop/files/HT3435-1.jpg?v=1684917838" alt="Product Image" class="product-image">
        <h3 class="product-name">Tất Adidas</h3>
        <p class="product-description">Kết hợp hoàn hảo với các dụng cụ tập luyện khác của bạn, những đôi tất Adidas này có thiết kế mềm mại.</p>
        <p class="product-price">Giá: 350.000đ</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>

        </div>
        <div class="product-action">
          <button class="btn btn-primary"> <i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>

    </div>


  </div>
</div>
<app-footer></app-footer>
